h1.aboutTitle span {
    color: var(--yellow-color);
}

.AboutComponent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 30px;
    height: 100%;
    /* margin: 0 auto; */
}

.infosSec {
    display: flex;
    justify-content: space-between;
    width: 112%;
}

.rightAboutSec {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3rem;
    row-gap: 3rem;
}

.firstSec {
    width: 60%;
}

.secondSec {
    width: 70%;
    margin-left: 2rem;
}



.leftAboutSec,
.rightAboutSec {
    line-height: 3rem;
}

.rightAboutSec .infoBox {
    width: 250px;
    height: 150px;
    border: 1px solid var(--yellow-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /* align-items: center; */
    padding: 20px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.rightAboutSec .infoBox:hover {
    box-shadow: 0px 0px 15px #5a4a16;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.infoBox .infoBoxTitle {
    font-size: 35px;
    color: var(--yellow-color);
}

.moreAboutMe.w {
    width: 175px;
}