* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}
html{
  scroll-behavior: smooth !important;
}
:root {
  --main-bg-color: #2B2B28;
  --yellow-color: #FDDB3A;
  --grey-icon-hover-color: #41444B;
  --grey-icon-color: #52575D;
  --light-grey: #d3d3d3eb;
}

.app {
  width: 100%;
  height: 100vh !important;
  background-color: var(--main-bg-color) !important;
}

.menuTagSec {
  position: absolute;
  top: 12rem;
  right: 2rem;
  bottom: auto;
}

.moreAboutMe {
  width: 190px;
  height: 50px;
  margin-top: 2rem;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border: 1px solid var(--yellow-color);
  cursor: pointer;
  background-image: linear-gradient(60deg, var(--yellow-color) 40%, transparent 30%);
  background-position: 100%;
  background-size: 300%;
  transition: all 1s;
  background-color: var(--main-bg-color);
  color: #fff;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  box-shadow: 0px 0px 15px #000000b6;
}

.moreAboutMe span {
  background-color: var(--yellow-color);
  padding: 15px 17px;
  border-radius: 50%;
  margin: 0 -20px 0 30px;
  opacity: 1;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.moreAboutMe span svg {
  margin-top: -5px;
}

.moreAboutMe:hover span {
  background-color: var(--main-bg-color);
  color: #fff;

}

.moreAboutMe:hover {
  color: var(--main-bg-color);
  background-position: 0;
}

.progress,
.progress-stacked {
  background-color: none !important;
}